h1 {
    background-color: rgb(213, 212, 212);
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: lighter;
    text-align: left;

}
.margen {
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 30pt;
}

#articulo1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 16pt;
    text-align: justify;
    color: orange;
}

#articulo2 {
    font-family: Georgia;
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    color: cadetblue;
}

nav {
    display: block;
    background-color: rgb(213, 212, 212);
    margin-left: auto;
    margin-right: auto; 
}

ul {
    text-align: center;
    
}

li {
    display: inline;
}

a {
    color: grey;
}

a:hover {
    color: orange;
}